<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Angular4 Animations
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [@colorChange]="currentColor">

    <ion-list no-lines>
        <ion-item-divider color="light">Animation Background Color</ion-item-divider>
        <ion-item>
            <ion-row>
                <button ion-button (click)="changeColor()">Test</button>
            </ion-row>
        </ion-item>
        <ion-item-divider color="light">Animation Resize Button</ion-item-divider>
        <ion-item>
            <ion-row>
                <button ion-button (click)="resizeButton()" [@resize]='resize'>Test</button>
            </ion-row>
        </ion-item>
        <ion-item-divider color="light">Animation Shake Mobile Icon</ion-item-divider>
        <ion-item>
            <button ion-button (click)="shakeIcon()">Test</button>
            <ion-badge item-end><img src="assets/img/mobile.png" [@shake]='shake'></ion-badge>
        </ion-item>
        <ion-item-divider color="light">Animation Flicker Icon</ion-item-divider>
        <ion-item>
            <button ion-button (click)="flickerIcon()">Test</button>
            <ion-badge item-end><img src="assets/img/eye.png" [@flicker]='flicker'></ion-badge>
        </ion-item>
        <ion-item-divider color="light">Animation Entering and leaving heroes</ion-item-divider>
        <ion-item>
            <button ion-button (click)="addHeroe()">Add heroe</button>
            <button ion-button (click)="removeHeroe()">Remove heroe</button>
            <ul>
                <li *ngFor="let hero of heroes" [@flyInOut]="'in'">{{hero}}</li>
            </ul>
        </ion-item>
        <ion-item-divider color="light">Animation Automatic property calculation</ion-item-divider>
        <ion-item>
            <button ion-button (click)="addHeroe1()">Add heroe</button>
            <button ion-button (click)="removeHeroe1()">Remove heroe</button>
            <ul>
                <li *ngFor="let hero of heroes1" [@shrinkOut]="'in'"> {{hero}}</li>
            </ul>
        </ion-item>
    </ion-list>

</ion-content>
